@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: black; }

/* Seccion titulo*/
/*MENU*/
.header {
  position: fixed;
  width: 100%;
  box-shadow: 1px 0.5px 4px #dbd4d4;
  top: 0px;
  z-index: 100; }

.navegacion {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: 600; }
  .navegacion ul {
    list-style: none; }

.hamburger {
  display: none; }

.confirmacion {
  display: none; }

.item input {
  display: none; }

.logo__img {
  width: 60px; }

@keyframes intro {
  0% {
    justify-content: center;
    justify-items: center;
    width: 100%; } }

.menu {
  margin: 0;
  padding: 0; }
  .menu li {
    display: inline-block; }
    .menu li a {
      display: block;
      padding: 15px 20px;
      text-decoration: none; }
      .menu li a:hover {
        color: silver; }

ul.menu {
  display: flex;
  align-items: center; }

.submenu {
  position: absolute;
  background-color: white;
  display: none;
  font-size: 12px;
  font-weight: 400; }
  .submenu li a {
    display: block;
    padding: 14px;
    text-decoration: none; }

.menu li:hover .submenu {
  display: block; }

.buscar__img {
  width: 20px; }

.barra__buscar {
  padding-right: 20px; }

/*BARRA NAVEGACION*/
.barra-nav {
  margin: 5.5% auto 10px; }

.barra__recorrido {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }
  .barra__recorrido ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px; }
    .barra__recorrido ul img {
      width: 10px;
      vertical-align: middle; }
    .barra__recorrido ul li a:hover {
      color: silver; }
    .barra__recorrido ul li:last-child a {
      font-weight: 600; }

.main__inicio {
  margin: 4% auto 10px; }

.main__media {
  width: 100%;
  height: 100%;
  padding-bottom: 20px; }

.animacion {
  height: 80px;
  width: 50%;
  position: absolute;
  display: flex;
  margin: 200px;
  font-size: 60px;
  font-weight: 600;
  overflow: hidden; }
  .animacion ul {
    padding-left: 15px;
    list-style: none;
    animation: intro 7s infinite; }

@keyframes intro {
  0% {
    margin-top: 0px; }
  20% {
    margin-top: 0px; }
  25% {
    margin-top: -90px; }
  50% {
    margin-top: -90px; }
  55% {
    margin-top: -180px; }
  80% {
    margin-top: -180px; }
  85% {
    margin-top: -90px; }
  95% {
    margin-top: -90px; }
  100% {
    margin-top: 0px; } }

/*BODY/SECCIÓN 1*/
.div__contenido {
  display: flex;
  padding: 20px 20px 20px 20px; }
  .div__contenido-img {
    width: 100%;
    padding: .2em; }

.section__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600; }

.novedades__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  padding-top: 20px; }

.seccion_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "producto__1 producto__2 producto__3" "producto__1 producto__4 producto__5";
  grid-gap: 1em;
  padding: 20px 20px 20px 20px; }

.producto__1 {
  display: flex;
  grid-area: producto__1;
  flex-direction: column; }

.producto__2 {
  display: flex;
  grid-area: producto__2;
  flex-direction: column; }

.producto__3 {
  display: flex;
  grid-area: producto__3;
  flex-direction: column; }

.producto__4 {
  display: flex;
  grid-area: producto__4;
  flex-direction: column; }

.producto__5 {
  display: flex;
  grid-area: producto__5;
  flex-direction: column; }

.producto__1 span {
  display: block; }

.seccion__img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px; }

.seccion__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px; }

.seccion__img:hover {
  transform: scale(1.05); }

.seccion__producto .marca {
  font-family: "Montserrat" sans-serif;
  font-size: 12px;
  font-weight: 600; }

.seccion__producto span {
  margin-top: .2em;
  font-family: "Montserrat" sans-serif;
  font-size: 12px;
  font-weight: 300;
  display: block; }

.seccion__producto1 .marca {
  font-family: 'Montserrat' sans-serif;
  font-size: 12px;
  font-weight: 600; }

.seccion__producto1 span {
  margin-top: .2em;
  font-family: 'Montserrat' sans-serif;
  font-size: 12px;
  font-weight: 300;
  display: block; }

.seccion__producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

/*SECCION-3*/
.video {
  display: flex;
  padding: 20px 20px 20px 20px; }

.seccion__video {
  width: 50%; }

.seccion-3 {
  display: flex;
  padding: 20px;
  gap: 20px; }
  .seccion-3__img {
    width: 100%;
    padding-bottom: 20px; }
    .seccion-3__img:hover {
      transform: scale(1.05); }

/*BODY/FOOTER*/
.footer {
  background-color: #f2f2f2;
  font-size: 16px; }

/*FOOTER/SUBSCRIPCION*/
.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  gap: 10px; }
  .sub__texto {
    padding-top: 30px;
    font-weight: 600;
    font-size: 20px; }

.formularioFooter {
  display: flex;
  align-items: center;
  padding: 1em; }
  .formularioFooter__input {
    padding: 0.5em 5em 0.5em 0.5em;
    border: 1px solid black;
    text-align: start; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin-left: 1em;
  border: 1px solid black;
  border-radius: 0px; }

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px; }
  .checkbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500; }

.redes span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500; }

.img {
  width: 20px; }

hr {
  display: block;
  margin: 1em;
  size: 1px;
  color: black; }

/*FOOTER/NOSOTROS*/
.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em; }
  .nosotros span {
    display: block;
    margin: 1em;
    text-align: center; }
  .nosotros__logo {
    padding: 2em; }

.copyright {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em; }

/*DESCUBRE*/
.titulo h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px; }

.contenedor {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "contenedor__1 contenedor__2" "contenedor__1 contenedor__3" "contenedor__1 contenedor__4";
  gap: 20px;
  padding: 30px 20px 30px 20px; }
  .contenedor__1 {
    display: flex;
    grid-area: contenedor__1; }
  .contenedor__2 {
    display: flex;
    grid-area: contenedor__2;
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    align-items: center; }
  .contenedor__3 {
    display: flex;
    grid-area: contenedor__3;
    text-align: justify;
    line-height: 22px;
    padding: 30px; }
  .contenedor__4 {
    display: flex;
    grid-area: contenedor__4;
    justify-content: space-evenly; }

/*PÁGINA CONTACTO Y USUARIO*/
.formulario__contacto {
  display: flex;
  justify-content: center;
  padding: 20px; }

.formulario__usuario {
  width: 50%; }

.formulario__general {
  padding: 20px 70px 20px 70px; }

.formulario__info {
  border: 2px solid black; }
  .formulario__info p {
    margin-bottom: 20px; }

.formulario__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .formulario__texto a {
    text-decoration: underline; }

.formulario__datos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px; }
  .formulario__datos textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    font-weight: 400; }
  .formulario__datos input {
    border: 1px solid black;
    padding: 12px 0px 12px 42px;
    width: 100%;
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    font-weight: 400; }
  .formulario__datos img {
    position: absolute;
    margin-left: 10px;
    width: 15px;
    color: gainsboro; }

.formulario__privacidad {
  border: 1px solid black;
  padding: 12px 0px 12px 42px;
  margin-bottom: 15px; }
  .formulario__privacidad input {
    margin-left: 10px; }

.formulario__enviar input {
  color: white;
  background-color: black;
  padding-right: 42px; }
