@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/*HEADER*/


/*MENU*/
.header {
    position: fixed;
    width: 100%;
    box-shadow: 1px 0.5px 4px #dbd4d4;
    top: 0px;
    z-index: 100;
}

.navegacion {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 16px;
    font-weight: 600;


}

.hamburger {
    display: none;
}

.confirmacion {
    display: none;
}
.item input{
    display: none;
}

.logo__img {

    width: 60px;


}

@keyframes intro {
    0% {
        justify-content: center;
        justify-items: center;
        width: 100%;

    }
}



.navegacion ul {
    list-style: none;
}

.menu{
    margin: 0;
    padding: 0;
}

.menu>li {
    display: inline-block;
}

.menu>li>a {
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    color: silver;

}

ul.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.submenu {
    position: absolute;
    background-color: white;
    display: none;
    font-size: 12px;
    font-weight: 400;

}

.submenu li a {
    display: block;
    padding: 14px;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;

}



.buscar__img {
    width: 20px;
}

.barra__buscar{
    padding-right: 20px;
}

/*BARRA NAVEGACION*/

.barra-nav {
    margin: 5.5% auto 10px;
}

.barra__recorrido {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.barra__recorrido ul img {
    width: 10px;
    vertical-align: middle;

}

.barra__recorrido ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.barra__recorrido ul li a:hover {
    color: silver;
}

.barra__recorrido ul li:last-child a {
    font-weight: 600;
}

.main__inicio {
    margin: 4% auto 10px;
}

.main__media {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.animacion {
    height: 80px;
    width: 50%;
    position: absolute;
    display: flex;
    margin: 200px;
    font-size: 60px;
    font-weight: 600;

    overflow: hidden;
}

.animacion>ul {
    padding-left: 15px;
    list-style: none;
    animation: intro 7s infinite;
}


@keyframes intro {
    0% {
        margin-top: 0px;
    }

    20% {
        margin-top: 0px;
    }

    25% {
        margin-top: -90px;
    }

    50% {
        margin-top: -90px;
    }

    55% {
        margin-top: -180px;
    }

    80% {
        margin-top: -180px;
    }

    85% {
        margin-top: -90px;
    }

    95% {
        margin-top: -90px;
    }

    100% {
        margin-top: 0px;
    }

}



/*BODY/SECCIÓN 1*/

.div__contenido {
    display: flex;
    padding: 20px 20px 20px 20px;
}

.div__contenido-img {
    width: 100%;
    padding: .2em;

}

.section__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}




/*BODY/SECCIÓN 2*/


.novedades__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    padding-top: 20px;
}


.seccion_grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "producto__1 producto__2 producto__3"
        "producto__1 producto__4 producto__5";
    grid-gap: 1em;
    padding: 20px 20px 20px 20px;

}


.producto__1 {
    display: flex;
    grid-area: producto__1;
    flex-direction: column;

}

.producto__2 {
    display: flex;
    grid-area: producto__2;
    flex-direction: column;

}

.producto__3 {
    display: flex;
    grid-area: producto__3;
    flex-direction: column;

}

.producto__4 {
    display: flex;
    grid-area: producto__4;
    flex-direction: column;

}

.producto__5 {
    display: flex;
    grid-area: producto__5;
    flex-direction: column;
}

.producto__1 span {
    display: block;
}

.seccion__img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.seccion__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
   
}

.seccion__img:hover {
    transform: scale(1.05);
}

.seccion__producto .marca {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.seccion__producto span {
    margin-top: .2em;
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 300;
    display: block;

}

.seccion__producto1 .marca {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.seccion__producto1 span {
    margin-top: .2em;
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 300;
    display: block;

}

.seccion__producto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

/*SECCION-3*/
.galeria{
    display: flex;
}

.galeria_inicio{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 530px;
    padding: 20px;
}
.galeria_inicio img{
    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.galeria_inicio img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
.galeria_texto{
    padding-top: 20px;
    padding-right: 20px;
}

.galeria_texto img{
    width: 100%;
}
.galeria_texto p{
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin: 0%;
  
}
.video {
    display: flex;
    padding: 20px 20px 20px 20px;
}

.seccion__video {
    width: 50%;
}

.seccion-3 {
    display: flex;
    padding: 20px;
    gap: 20px;

}

.seccion-3__img {
    width: 100%;
    padding-bottom: 20px;
}

.seccion-3__img:hover {
    transform: scale(1.05);

}


/*BODY/FOOTER*/

.footer {
    background-color: #f2f2f2;
    font-size: 16px;

}

/*FOOTER/SUBSCRIPCION*/

.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    gap: 10px;
}

.sub__texto {
    padding-top: 30px;
    font-weight: 600;
    font-size: 20px;
}

.formularioFooter {
    display: flex;
    align-items: center;
    padding: 1em;

}

.formularioFooter__input{
    padding: 0.5em 5em 0.5em 0.5em;
    border: 1px solid black;
    text-align: start;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    margin-left: 1em;
    border: 1px solid black;
    border-radius: 0px;

}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}
.checkbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.redes span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.img {
    width: 20px;
}

hr {

    display: block;
    margin: 1em;
    size: 1px;
    color: black;

}

/*FOOTER/NOSOTROS*/

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-weight: 500;
}

.nosotros__logo {
    padding: 2em;
}

.nosotros span {
    display: block;
    margin: 1em;
    text-align: center;
}

.copyright {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

/*PÁGINA MARCAS*/

.marcas__logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

.brands{
    display: flex;
    justify-content: center;
}


.brands__products{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 390px;
    padding: 20px;
}

.brands__products img{
    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}
.brands__products img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
}


/*PÁGINA CONTACTO Y USUARIO*/
.formulario__contacto {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.formulario__usuario {
    width: 50%;
}

.formulario__general {
    padding: 20px 70px 20px 70px;

}

.formulario__info {
    border: 2px solid black;
}

.formulario__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario__texto a {
    text-decoration: underline;
}

.formulario__info p {
    margin-bottom: 20px;
}

.formulario__datos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

}

.formulario__datos textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.formulario__datos input {
    border: 1px solid black;
    padding: 12px 0px 12px 42px;
    width: 100%;
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.formulario__datos img {
    position: absolute;
    margin-left: 10px;
    width: 15px;
    color: gainsboro;

}

.formulario__privacidad {
    border: 1px solid black;
    padding: 12px 0px 12px 42px;
    margin-bottom: 15px;
}

.formulario__privacidad input {
    margin-left: 10px;
}

.formulario__enviar input {
    color: white;
    background-color: black;
    padding-right: 42px;
}


/*DESCUBRE*/

.titulo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.contenedor {
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "contenedor__1 contenedor__2"
        "contenedor__1 contenedor__3"
        "contenedor__1 contenedor__4";
    gap: 20px;
    padding: 30px;
}

.contenedor__1 {
    display: flex;
    grid-area: contenedor__1;

}

.contenedor__2 {
    display: flex;
    grid-area: contenedor__2;
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.contenedor__3 {
    display: flex;
    grid-area: contenedor__3;
    text-align: justify;
    line-height: 22px;
}

.contenedor__4 {
    display: flex;
    grid-area: contenedor__4;
    justify-content: space-evenly;
}

.contenedor__seccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.contenedor__seccion span{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
   
}
.contenedor__seccion p{
    text-align: justify;
    padding: 30px;
}

.contenedor__seccion--media{
    display: flex;
    padding: 30px;
    padding-top: 0px;
    gap: 10px;

}
.contenedor__seccion--media img{
    width: 40%;
    
}
.contenedor__seccion--media video{
    width:60%;
}


/*PÁGINA CALZADO HOMBRE Y MUJER*/


.calzado__lista {
    display: flex;
    padding: 20px;
    gap: 8px;


}

.producto {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.producto img {
    width: 100%;
    display: flex;
    transition: transform .5s;
}

.producto:hover img {
    transform: scale(1.1);
}


.pagination {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
    padding: 30px;
}

.page-item {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    width: 40px;
}

.page-link {
    color: rgb(0, 0, 0);
    border: none;
}

.page-item:hover {
    transform: scale(1, 1);


}
@media screen and (max-width: 1024px){


    .animacion {
        margin: 100px;
    }
    /*RESPONSIVE DESCUBRE*/
    .contenedor {
        display: inline-block;

    }
    
    .contenedor__1{
        display: none;
    }
    
    .contenedor__2 p{
        display: block;
        font-size: 40px;
      
    }
    .contenedor__4{
        display: flex;
        gap:30px;
        width:  100%;
        
    }
    .contenedor__4 iframe{
        height: 550px;
        padding-top: 20px;

    } 
    
/*RESPONSIVE SECCION-3*/


    
    .galeria_texto p{
        font-size: 60px;
        text-align:right;
        line-height: 60px;
        font-weight: 600;
        padding-top: 20px;
    }


}  

@media screen and (max-width: 320px) ,(max-width: 768px) {
    
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }

  .navegacion {
        display: flex;
        font-size: 12px;
        gap: 60px;
        width: 100%;

    }

    .logo{
       display: flex;
       align-self: center;
    }

    .logo__img {
        width: 50px;

    }
    
     .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 60%;
        top: 90vh;
        left: 0px;
        padding:10px;
        z-index: -1;
        transition: .6s;
        transform: translateX(-120%);

    }

    .menu .item a{
        color: #ffffff;
    }

    .menu .submenu li a:hover {
        color:#ffffff;
    }
    .hamburger {
        display: grid !important;
    }

    .hamburger {
        display: flex;
        gap: 5px;
        height: min-content;
        cursor: pointer;
        position: absolute;
        padding: 8px;
        top: 90vh;
        background-color:#000000;
    }

    .linea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 2px;
        margin-left: 0px;
        margin-bottom: 0%;
        background: #ffffff;
        transition: .4s;

    }
    .confirmacion {
       display: none;
    }
    .confirmacion:checked ~ .menu{
        transform: translateX(0);
    }

    .submenu{
        width: 100%;
        bottom: 100%;
        padding: 0%;
        background-color: #ffffff;
        z-index: 1;
        transition: .6s;
        transform: translateX(100%);
    }
    .submenu .item a{
        color: #000000;
    }
    .submenu1 .item a{
        color: #ffffff;
    }
    .item input{
        display: none;
    }
    .confirmacion1:checked ~ .submenu{
        transform: translateX(0);
    }


    .item {
        padding: 0px;
    }

    .menu>li>a {
        padding: 0px;
    }
    .barra__buscar{
        display: flex;
        flex-direction: row;
        gap:5px;
        padding: 0;
    } 
    
    /*RESPONSIVE BARRA NAVEGACION*/

    .barra__recorrido{
        padding-top: 50px;
    }
    .barra__recorrido li{
        font-size: 14px;
    }
    .animacion {
        width: 100%;
        font-size: 50%;
    }

    .main__media {
        width: 100%;
        margin-top: 45px;
    }

    .animacion {
        height: 30px;
        width: 100%;
        position: absolute;
        display: flex;
        margin: 0;
        margin-top: 90px;
        padding-left: 30px;
        font-size: 20px;
        font-weight: 600;

        overflow: hidden;
    }

    @keyframes intro {
        0% {
            margin-top: 0px;
        }

        20% {
            margin-top: 0px;
        }

        25% {
            margin-top: -30px;
        }

        50% {
            margin-top: -30px;
        }

        55% {
            margin-top: -60px;
        }

        80% {
            margin-top: -60px;
        }

        85% {
            margin-top: -30px;
        }

        95% {
            margin-top: -30px;
        }

        100% {
            margin-top: 0px;
        }

    }



/*RESPONSIVE BODY/SECCIÓN 1*/

    .section__titulo h2 {
        font-size: 20px;
    }

    .div__contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "div_contenido div_contenido "
            "div_contenido div_contenido ";
           
        gap: 5px;
        padding: 10px;
    }

    .seccion_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "producto__1 producto__1 "
            "producto__2 producto__3 "
            "producto__4 producto__5 ";
        grid-gap: 5px;
        padding: 10px;
    }
/*RESPONSIVE BODY/SECCIÓN 2*/

    .novedades__texto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .novedades__texto p{
        margin: 0%;
    }
    
    .seccion__producto span {
        font-size: 10px;
    }
    .seccion__img:hover {
        transform: scale(1);
    }



    .galeria{
        display: flex;
        flex-direction: column;
    }
    
    .galeria_inicio{
        width: 100%;
        height: 330px;
        padding: 10px;
    }
    .galeria_inicio img:hover{
        width: 100px;    
    
    }
    .galeria_texto{
        padding:10px;
    }

    .galeria_texto img{
        width: 100%;
    }
    
    .galeria_texto p{
        line-height: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .video{
        display: block;
        padding: 10px;
    }
    .seccion__video{
        width: 100%;
    }
    .seccion-3 {
        display: grid;
        padding: 10px;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    
    }
    
    .seccion-3__img {
        width: 100%;
        padding-bottom: 20px;
    }
    
    .seccion-3__img:hover {
        transform: scale(1);
    }    
    .seccion__producto1 span {
        font-size: 10px;
    }

   /*RESPONSIVE FOOTER/SUBSCRIPCION*/
    
    .sub__texto p{
        text-align: center;
        font-size: 18px;
    }
    .formularioFooter {
      display: block;
    
    }
    
    .formularioFooter__input {
        width: 100%;
        text-align: center;
        padding: 0.5em 5em 0.5em 5em;
    }
    
    .btn {
        width: 100%;
        margin-left: 0;
    
    }
    .checkbox{
        padding: 15px;
    }
    .checkbox span{
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
    .redes span{
        font-weight: 300;
    }
    .nosotros span{
        font-size: 14px;
        font-weight: 400;
    }

/* RESPONSIVE PAGINA CALZADO HOMBRE Y MUJER*/

.calzado__lista{
        display: grid;
        padding: 10px;
        gap:5px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:1fr ;
            
    }
/* RESPONSIVE CONTACTO y USUARIO*/
    .formulario__info{
        width: 100%;
    }
    .formulario__texto h2{
        
        font-size: 18px;
    }
    
    .formulario__general{
        padding: 10px;
    }
    .formulario__general p{
        text-align: center;
        font-size: 12px;
    }
    .formulario__datos input{
        font-size: 12px;
    }
    .formulario__datos textarea{
        font-size: 12px;
    }
    .formulario__privacidad span{
        font-size: 12px;
    }
    .formulario__privacidad input{
        position: relative;
    }

    .formulario__contacto{
        
        padding: 10px;
    }
    .formulario__usuario{
        width: 100%;
    }
    
    .formulario__texto a{
        font-size: 12px;
    }

    /*RESPONSIVE DESCUBRE*/
    .contenedor{
        width: 100%;
        display: block;
        padding: 0;
    }
    .contenedor__1 img{
        width: 100%;
        padding: 20px;
    }
    .contenedor__2 p{
        font-size: 20px;
      
    }
    .contenedor__3{
        padding: 20px;
    }
    .contenedor__3 p{
        font-size: 16px;
    }
    .contenedor__4{
        display: flex;
        flex-direction: column;
        width:  100%;
        
    }
    .contenedor__4 iframe{
        height: 500px;
        padding: 20px;
    } 
    .contenedor__seccion span{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
     
    }

    .contenedor__seccion--media{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 0px;
        gap: 10px;
    
    }
    .contenedor__seccion--media img{
        width: 100%;
        
    }
    .contenedor__seccion--media video{
        width:100%;
    }

    /*MARCAS*/

    .brands__products{
        width: 100%;
        height: 200px;
    }

    .brands__products img:hover{
        width: 200px;
    }
}


