
/*DESCUBRE*/

.titulo  {
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
    }
}

.contenedor {
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "contenedor__1 contenedor__2"
        "contenedor__1 contenedor__3"
        "contenedor__1 contenedor__4";
    gap: 20px;
    padding: 30px 20px 30px 20px;
    &__1 {
        display: flex;
        grid-area: contenedor__1;
    }
    &__2 {
        display: flex;
        grid-area: contenedor__2;
        font-size: 50px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }
    &__3 {
        display: flex;
        grid-area: contenedor__3;
        text-align: justify;
        line-height: 22px;
    }
    &__4 {
        display: flex;
        grid-area: contenedor__4;
        justify-content: space-evenly;
    }
    &__seccion{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
            span{
                text-align: center;
                font-size: 50px;
                font-weight: 600;
            }
            p{
                text-align: justify;
                padding: 30px;
            }
            &--media{
                display: flex;
                padding: 30px;
                padding-top: 0px;
                gap: 10px;
                img{
                    width: 40%; 
                }
                video{
                    width:60%;
                }
            }
    }
}


