/*PAGINA PRODUCTOS
Tanto en la sección de hombre como la de mujer la primera zapatilla se especifica en esta sección*/
.section_info{
    position: relative;
    height: 100%;
    display: flex;
    &-description{
        width: 50%;
    }
    
}

.grid__contenedor{
   width: 100%;

}
.grid__producto {
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "grid__producto-1 grid__producto-1"
        "grid__producto-2 grid__producto-3"
        "grid__producto-4 grid__producto-5";
    gap: 8px;
    padding-left: 20px;
    padding-bottom: 60px;
    width: 100%;
    right: 0%;

   
    img{
        width: 100%;

    }
    &-1{
        grid-area: grid__producto-1;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
        }  
    }
    &-2{
        grid-area: grid__producto-2;
    }
    &-3{
        grid-area: grid__producto-3;
    }
    &-4{
        grid-area: grid__producto-4;
    }
    &-5{
        grid-area: grid__producto-5;
    }
}
    .grid__producto-6{  
        position: sticky;
        top: 10%;
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 20px;
        padding-bottom: 40px;
        width: 100%;
        &-name{
            display: flex;
            flex-direction: column;
            font-size: 25px;
            font-weight: 600;
        }
        &-description{
            display: flex;
            flex-direction: column; 
        }
    }

    .tallas{
        margin-top: 20px;
        &__seleccion{
            border-radius: 0px;
            padding: 14px;
            border-top: 1px solid $project-color-black;
            border-bottom: 1px solid $project-color-black;
          
        }
    }
    .form-select:focus {
        border-color: #000000;
        box-shadow: none;
    }

    .add{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 5px;
     
        &__btn{
            margin: 0px;
            width: 100%;
        }
        img{
            width: 25px;
        }
}
 .desplegable{
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__info{
        border: none;
    }
    &__btn{
       border-top: 1px solid $project-color-black;
       border-bottom: 1px solid $project-color-black;
    }
    &__lista{
        list-style: none;
        padding: 0;
        li{
            a{
                &:hover{
                color: rgb(156, 156, 156);
                }
            }
        }    
    }
 }
/*Para poder cmabiar estos estilos de bootstrap fui al inspector de google, analicé como estaba contenido, copie la prpiedad y lo modifiqué*/

 .accordion-button:focus{
    border-color: $project-color-black;
    box-shadow: none;

 }
 .accordion-button:not(.collapsed){
    color: $project-color-black;
    background-color: $project-color-white;
    box-shadow: none;
 }


