
$project-font:'Montserrat' sans-serif;
$project-background-footer:#f2f2f2;
$project-font-size: 12px;
$project-color-black: rgb(0, 0, 0);
$project-color-white:#ffffff;



@mixin titulo($arg-1:flex , $arg-2:center, $arg-3:center, $arg-4:30px, $arg-5:600 ){
    display: $arg-1;
    justify-content: $arg-2;
    align-items: $arg-3;
    font-size: $arg-4;
    font-weight: $arg-5;
}

/*En el parcial inicio implementé un ciclo for*/




